/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

/*<Подключаем шрифты>*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap'); 
@font-face {
	font-family: 'AkzidenzGroteskBQCondensedBold';
	src: url('../fonts/AkzidenzGroteskBQCondensedBold.eot');
	src: local('☺'), url('../fonts/AkzidenzGroteskBQCondensedBold.woff') format('woff'), url('../fonts/AkzidenzGroteskBQCondensedBold.ttf') format('truetype'), url('../fonts/AkzidenzGroteskBQCondensedBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Bebas';
	src: url('../fonts/BebasNeueRegular.eot');
	src: local('☺'), url('../fonts/BebasNeueRegular.woff') format('woff'), url('../fonts/BebasNeueRegular.ttf') format('truetype'), url('../fonts/BebasNeueRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{
font-family: 'PT Sans';
src:url('../fonts/ptsans-bold-webfont.woff2') format('woff2'),
	url('../fonts/ptsans-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face{
font-family: 'PT Sans';
src:url('../fonts/ptsans-bolditalic-webfont.woff2') format('woff2'),
	url('../fonts/ptsans-bolditalic-webfont.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face{
font-family: 'PT Sans';
src:url('../fonts/ptsans-italic-webfont.woff2') format('woff2'),
	url('../fonts/ptsans-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face{
font-family: 'PT Sans';
src:url('../fonts/ptsans-regular-webfont.woff2') format('woff2'),
	url('../fonts/ptsans-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/*<Подключаем шрифты>*/

.conteiner {
	max-width: 1350px;
	margin: 0 auto;
}
/*header*/
.header {}
.header__body {
   width: 869px;
   margin: 0 auto;
}
.header__top {
    display: flex;
    justify-content: space-between;
    margin: 0 0 35px 0;

}
.header__language {}
.header-language {
    display: flex;
}
.header-language_item {
	margin: 29px 0 0 0;
	padding: 0 18px 0 0;
}
.header-language__link {
	color: #000000;
	font-family: Bebas;
	font-size: 12px;
	text-decoration: underline;
	letter-spacing: 1.2px;
	font-weight: 600;
}

.header-language__link-active{
	font-size: 12px;
	font-family: Bebas;
	background-color: #000000;
	color: #ffffff;
	padding: 2px 4px;
	letter-spacing: 1.2px;
	font-weight: 600;
}

.header__link {
	margin: 29px 0 0 0;
}
.header__link-item {
	font-family: 'Bebas';
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 600;
	color: #000;

}
.header__bottom {
	display: flex;
}
.header__menu-left {
	flex: 0 0 33.333%;
}
.left-menu {
	justify-content: space-between;
	display: flex;
	font-family: 'Bebas';
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 600;

}

.left-menu:last-child{
	letter-spacing: 2px;
}

.left-menu__item {
	padding: 0 24px 0 0;
}

.left-menu__link {
	color: #000000;
}
.header__logo {
	flex: 0 0 33.333%;
	margin: -44px 0 0 0;
	width: 212px; 
	height: 108px;
}
.header-logo {
	text-align: center;
}

.header-logo__text1 {
	display: block;
	text-align: center;
	font-family: 'Bebas';
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 6px;
	color: #000000;	
	padding: 0 0 0 7px;
}

.header-logo__text {
	display: block;
	text-align: center;
	font-family: 'Bebas';
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 8px;
	color: #000000;	
	padding: 0 0 0 7px;
}
.header-logo__image {
	display: inline-block;
	margin: 12px 0 22px 0;
}
.header__menu-right {
	flex: 0 0 33.333%;

}
.right-menu {
	justify-content: space-between;
	display: flex;
	font-family: 'Bebas';
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.right-menu:last-child{
	padding: 0 0 0 11px;
}
.right-menu__item {
	padding: 0 0 0 15px;
}
.right-menu__link {
	color: #000000;
}
/*header*/

/*content*/
.wrapper {
	width: 100%;
}
.content {
	display: flex;
	background-color: #000000;
	margin: 33px 0 40px 0;
}
.content__colum {
	flex: 0 0 50%;
	height: 425px;
}
.content__img {
	width: 100%;
	height: 425px;
}
.content-info__text{
	margin: 75px 0 75px 60px;
}
.info__headline {
	color: #ffffff;
	font-family: 'Bebas';
	font-size: 50px;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: 7px;
	margin: 0px 0 20px 0px;
	font-weight: 600;
}
.info__text {
	width: 303px;
	height: 39px;
	color: #ffffff;
	font-family: 'PT Sans';
	font-size: 16px;
	line-height: 25px;
	margin: 0 0 0px 0px
	font-weight: 600;
}
.content-info__button {
	display: flex;
	margin: 0 0 0 55px;
}
.button-quote {}
.button-quote__link {
	color: #000000;
	font-family: 'Bebas';
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 15px 34px;
	background-color: #fffffe;
	font-weight: 600;

}
.buuton-view {
}
.buuton-view__link {
	width: 92px;
	height: 16px;
	color: #fffffe;
	font-family: 'Bebas';
	font-size: 18px;
	line-height: 25px;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	padding: 18px 14px;
	font-weight: 600;
}
/*content*/

/*catering*/
.catering {}
.typesfood {
	display: flex;
	justify-content:center;
	margin: 0 0 40px 0; 
	
}
.typesfood__colum {
	width: 220px; /* ограничил ширину(что если большой монитор ) */
}
.colum__img {
	margin: 0 0 25px 0;
}
.colum__img-item {}
.colum__headline {
	height: 45px;
	font-size: 25px;
	font-family: 'AkzidenzGroteskBQCondensedBold';
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	line-height: 1;
	text-align: left;
	margin: 0 0 30px 0;
	padding: 0 35px 0 5px;
	letter-spacing: 2px;
}
.colum__text {
	height: 64px;
	font-size: 15px;
	font-family: 'PT Sans', sans-serif;
	color: rgb(0, 0, 0);
	text-align: left;
	margin: 0 0 0 0;
	padding: 0 35px 0 5px;
}
.colum__buttom {
	margin: 40px 0 30px 0;
	padding: 0 35px 0 5px;
}
.colum__buttom-item {
	color: #fffffe;
	font-family: 'Bebas';
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 15px 34px;
	background-color: #000000;
	font-weight: 600;
}
.colum__link {
	padding: 0 35px 0 5px;
}
.colum__link-item {
	font-size: 15px;
	font-family: 'Bebas';
	color: rgb(0, 0, 0);
	text-decoration: underline;
	text-transform: uppercase;
	text-align: left;
}
/*catering*/

/*about*/
.about {}
.choose {
	width: 100%;
	margin-bottom: 82px;
}
.choose__top {
	display: flex;
	background-color: #000000;
}
.top-colum {
	flex: 0 0 50%;
	height: 150px;
}
.top-colum__text {
	margin: 60px 65px 60px 0;
	font-size: 50px;
	font-family: 'AkzidenzGroteskBQCondensedBold';
	letter-spacing: 4.5px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 0.5;
	text-align: right;
}
.top-colum__img {
	width: 100%;
	height: 150px;
}
.choose__bottom {
	background-color: rgb(235, 235, 235);
	display: flex;
	height: 350px;
}
.bottom-colum {
	flex: 0 0 50%;
}
.bottom-colum1 {
	flex: 0 0 50%;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}
.choose-info {
	margin: 50px 35px 0 0px;
	display: flex;
	width: 400px;
}
.choose-info2{
	margin: 50px 0 0 5px;
	display: flex;
	width: 400px;
}
.choose-info__textblock{
	margin: 0 0 0 15px;

}
.choose-info__img {}
.choose-info__img-item {}
.choose-info__headline {
	font-size: 25px;
	font-family: 'AkzidenzGroteskBQCondensedBold';
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	line-height: 1;
}
.choose-info__text {
	font-size: 15px;
	font-family: 'PT Sans';
	color: rgb(0, 0, 0);
	line-height: 1.667;
}

/*about*/
/*box*/

.box {}
.hello {}
.hello__top {
	display: flex;
	width: 885px;
	margin-right: auto;
	margin-left: auto;
}
.hello__colum {
	width: 50%;
}
.hello__colum-black{
	background-color: #252525; 
}
.hello__block {}
.hello__block h1 {
	font-size: 50px;
	font-family: 'AkzidenzGroteskBQCondensedBold';
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	margin-bottom: 31px;
}
.hello__info {}
.hello__address {
	margin-bottom: 25px;
	margin-left: 5px;
}
.hello__address img{
	margin-right: 10px;
}
.hello__address span {
	font-size: 15px;
	font-family: 'PT Sans';
	color: rgb(0, 0, 0);
 }

.hello__maill{
	margin-bottom: 25px;
	margin-left: 5px;
	margin-top: 82px;
}
.hello__maill a {
	font-size: 15px;
	font-family: 'PT Sans';
	color: rgb(0, 0, 0);
 }
 .hello__maill img{
 	margin-right: 10px;
 }
.hello__bottom {
	display: flex;
}
.hello__map {
	width: 100%;
	height: 100%;
}
.formstyle {
	width: 375px;
	font-size: 15px;
	font-family: 'PT Sans';
	color: #8e8e8e;
	border: 2px solid#959595;
	background-color: #252525;
	padding-left: 18px;
	height: 50px;
	margin-bottom: 25px;
}
.form {
	display: flex;
	flex-direction: column;
	margin-left: 60px;
	margin-top: 45px;
}
.form__headline {
	font-size: 25px;
	font-family: 'AkzidenzGroteskBQCondensedBold';
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	margin-bottom: 30px;
}
.form__login {

}
.form__mail {}
.form__message {
	padding-top: 12px;
	height: 100px;
}
.form__button {
	width: 155px;
	font-size: 18px;
	padding: 15px 0;
	margin-bottom: 10px;
	font-family: 'Bebas';
	letter-spacing: 1.3px;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	background-color: #ffffff;
}
/*box*/
/*footer*/
.footer {
	display: flex;
}
.footer__colum{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 128px;
	width: 50%;
}
.footer__call {
  font-size: 15px;
  font-family: 'PTSans';
  color: rgb(77, 77, 77);
}
.footer__logo {}
/*footer*/